<a href="https://colab.research.google.com/github/ShoroveTajmen/python_project_DIU/blob/main/Lab_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#built-in functions

print("Hi, I am semi-colon. Do you miss me?")
print("Let me know if you miss me or not. ")
s=input()

a=10
b=21
print(max(a,b))
print(min(a,b))

c=10.4
d=int(c)
print(d)

e="python"
print(type(e))

In [ ]:
#user defined function

def add(a, b):
    c=a+b
    return c

a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
d=add(a,b)
print("The sum is", d)

In [ ]:
#function with multiple parameters

def divisor(x,y,m):
    if x%m==0 and y%m==0:
        print("%d & %d are divisible by %d"%(x,y,m))
    elif x%m==0:
        print("only %d is divisible by %d"%(x,m))
    elif y%m==0:
        print("only %d is divisible by %d"%(y,m))
    else:
        print("none of %d & %d is divisible by %d"%(x,y,d))

divisor(10,20,5)
divisor(12,20,5)
divisor(10,22,5)
divisor(2,5,3)

10 & 20 are divisible by 5
only 20 is divisible by 5
only 10 is divisible by 5
none of 2 & 5 is divisible by 30

In [ ]:
#function without parameter

def summation():
    a=3+8
    return a

b=summation()
print(b)

11

In [ ]:
#function with default parameter value

def check(a=0):
    if a==0:
        print("Zero")
    elif a>0:
        print("Positive")
    else:
        print("Negative")

check()     #without parameter
check(-4)   #with parameter

Zero
Negative

In [ ]:
#local scope

def local_scope():
    x=7
    print(x)

local_scope()
print(x)

7

NameError: ignored

In [ ]:
#local scope

def local_scope():
    x=7
    return x

a=local_scope()
print(a)
print(x)

7

NameError: ignored

In [ ]:
#global scope

x=10

def global_scope():
    print(x)

print(x)
global_scope()

10
10

In [ ]:
#global scope

def global_scope():
    global x
    x=10

global_scope()
print(x)

10

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#python standard library
#csv module

import csv

with open('gdrive/My Drive/Colab Notebooks/Lab Work/prog_book.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

In [ ]:
import pandas as panda

In [ ]:
data=panda.read_csv('gdrive/My Drive/Colab Notebooks/Lab Work/prog_book.csv')

In [ ]:
data.head(20)

    Rating Reviews  ...            Type      Price
0     4.17   3,829  ...       Hardcover   9.323529
1     4.01   1,406  ...       Hardcover  11.000000
2     3.33       0  ...  Kindle Edition  11.267647
3     3.97   1,658  ...       Hardcover  12.873529
4     4.06   1,325  ...  Kindle Edition  13.164706
5     3.84     117  ...       Paperback  14.188235
6     4.09   5,938  ...       Hardcover  14.232353
7     4.15   1,817  ...       Hardcover  14.364706
8     3.87   2,093  ...       Hardcover  14.502941
9     4.62       0  ...       Paperback  14.641176
10    4.03     160  ...       Hardcover  15.229412
11    3.78     481  ...       Hardcover  15.229412
12    3.73      33  ...       Paperback  15.326471
13    3.87   1,255  ...       Hardcover  15.682353
14    3.87     593  ...       Hardcover  15.885294
15    3.95     417  ...       Hardcover  16.073529
16    3.85      80  ...       Paperback  16.367647
17    3.94     279  ...       Paperback  16.852941
18    3.75     370  ...       Hardcover  16.891176
19    4.10   2,092  ...       Hardcover  17.229412

[20 rows x 7 columns]

In [ ]:
data.tail(5)

     Rating Reviews  ...                   Type       Price
266    3.76       0  ...              Hardcover  203.108823
267    3.94      22  ...              Paperback  212.097059
268    4.49      36  ...  Boxed Set - Hardcover  220.385294
269    4.77       4  ...              Hardcover  220.385294
270    3.84       5  ...              Hardcover  235.650000

[5 rows x 7 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rating           271 non-null    float64
 1   Reviews          271 non-null    object
 2   Book_title       271 non-null    object
 3   Description      271 non-null    object
 4   Number_Of_Pages  271 non-null    int64
 5   Type             271 non-null    object
 6   Price            271 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 14.9+ KB

In [ ]:
data.shape

(271, 7)

In [ ]:
#python standard library
#math module

import math

print(math.pi)          #value of pi

x=9.2
print(math.ceil(x))     #round to the smallest integer not less than x
print(math.floor(x))    #rount to the largest integer not greater than x

print(math.sin(78))     #trigonometric sine of x (x in radians)

print(math.pow(2,3))    #2 to the power 3

print(math.sqrt(16))    #square root of 16

3.141592653589793
10
9
0.5139784559875352
8.0
4.0